@import 'partials/variables';

// .head{
//     position: absolute;
//     top: 50px;
// }
.head{
    position: absolute;
    top: 40px;
    z-index: 9;
    .menu{
        // display: flex;
        padding: 0 50px;
        // justify-content: space-between;
    }
    .text{
        padding: 200px 0;
    }
}
.bg-color{
    background-color: rgb(229, 231, 231);
    padding:80px;
    .text-2{
        padding: 120px 80px;
    }
    .inp{
        background-color: white;
        padding: 100px 140px;
    }
}
.medium{
    width: 90%;
    margin: 40px 5%;
}